# Data Mining 15.0621 Homework Assignment 2
## Questions 6.1, 7.3, 8.2, 9.3
## By: Jonathan Johannemann

In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt,sklearn.linear_model as sl

## Question 6.1

In [3]:
bostonhousing = pd.read_csv('BostonHousing.csv',sep=',',header=0)
bostonhousing.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV,CAT.MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0,0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6,0
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2,1